ecommerce/client/node_modules
ecommerce/client/.env
ecommerce/client/dist
ecommerce/server/node_modules
ecommerce/server/.env



employeeManagementSystem/client/node_modules
employeeManagementSystem/client/.env
employeeManagementSystem/client/dist
employeeManagementSystem/server/node_modules
employeeManagementSystem/server/.env



secureAuthenticationSystem/client/node_modules
secureAuthenticationSystem/client/.env
secureAuthenticationSystem/client/dist
secureAuthenticationSystem/server/node_modules
secureAuthenticationSystem/server/.env